* {
    padding: 0;
    margin: 0;
}


#inspireGif {
    border-radius: 25px;
}

#furryImage{
    border-radius: 25px;
}

body {
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.favoriteItem{
    font-size: 20px;
    color: royalblue;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.main h3 {
    background-color: burlywood;
    width: auto;
    height: 40px;
    padding: 5px;
    font-size: 20px;
}

.main h1 {
    background-color: beige;
    width: auto;
    font-size: 60px;
    padding: 20px;
    text-align: center;
    height: 100px;
    text-shadow: 3px 3px 3px burlywood;
}

.card {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5px 5px;
}

.is-child {
    box-shadow: 3px 3px 3px 3px gray;
}

.favorite-link:hover {
    color: black;
    cursor: grab;
}

.inspire-link:hover {
    color: white;
    cursor: grab;
}

.table-container {
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px;
    box-shadow: 3px 3px 3px 3px gray;
}

#inspire-avatar {
    height: 500px;
    width: 500px;
    float: right;
}

.tile .title {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

footer {
    background-color: beige;
    width: auto;
    border: 3px solid burlywood;
    border-radius: 3px;
    text-align: center;
}

