* {
    padding: 0;
    margin: 0;
}

.hover:hover {
    transform: scale(1.03);
    }

.betterFont {
    font-family: "Dawning of a New Day", cursive;
    font-weight: 700;
    font-style: normal;
  }
#navTop {
    font-size: 40px;
}

#betterTitle {
    font-style: bold;
    font-weight: 900;
    font-size: 60px;
}

.inspireActivity {
    background-color: rgb(189, 219, 222);
    color: rgb(78, 78, 237);
    border-radius: 25px;
    margin: 30px;
    margin-bottom: 100px;
    font-size: x-large;
    text-align: center;
}

#inspireGif {
    border-radius: 25px;
}

#furryImage{
    border-radius: 25px;
}

#heart-joke:hover{
    cursor: grab;
    background-color: white;
}

#heart-hover-text{
    visibility: hidden;
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.favoriteItem{
    font-size: 20px;
    color: royalblue;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main h3 {
    background-color: rgb(189, 219, 222);
    color: rgb(12, 101, 110);
    width: auto;
    height: 40px;
    padding: 5px;
    font-size: 20px;
}

.main h1 {
    background-color: beige;
    width: auto;
    font-size: 60px;
    padding: 20px;
    text-align: center;
    height: 100px;
    text-shadow: 3px 3px 3px burlywood;
}

.card {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5px 5px;
    background-color: rgb(189, 219, 222);
}

.is-child {
    box-shadow: 3px 3px 3px 3px gray;
}

.favorite-link:hover {
    color: rgb(60, 60, 60);
    cursor: grab;
}

.inspire-link:hover {
    color: white;
    cursor: grab;
}

.table-container {
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px;
    box-shadow: 3px 3px 3px 3px gray;
}

#inspire-avatar {
    height: 500px;
    width: 500px;
    float: right;
}

.tile .title {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

footer {
    background-color: beige;
    width: auto;
    border: 3px solid burlywood;
    border-radius: 3px;
    text-align: center;
}

#adviceTitle:hover {
    color: aqua;
    cursor: grab;
}


.yolo {
    border-radius: 25px;
    
}