* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lavender;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.main {
    background-color: beige;
    width: auto;
    height: 150px;
    font-size: 20px;
}

.main h3 {
    background-color: beige;
    width: auto;
    height: 30px;
}

.main h1 {
    background-color: bisque;
    width: auto;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    border: 5px solid purple;
    border-radius: 3px;
    font-weight: 600;
}

.navlink ul {
    background-color: lavender;
    overflow: hidden;
    padding: 20px;
  } 
  
.navlink li {
    display: block;
    background-color: beige;
    float: left;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 5px solid bisque;
}

.navlink li:hover {
    background-color: bisque;
}

.content {
    background-color: beige;
    padding: 20px;
    border: 5px solid lavender;
    border-radius: 10px;
    width: auto;
    height: 1000px;
}

.content img {
    border: 5px solid purple;
    padding: 5px;
    background-color: beige;
}

.content img:hover {
    background-color: lavender;
}

footer {
    background-color: beige;
    width: auto;
    border: 3px solid bisque;
    border-radius: 3px;
    text-align: center;
}
